/*Titre*/
.title{
	font-size:2em;
	font-family: Helvetica, sans-serif;
	font-weight:700;
	font-weight:bold;
}


/*En-tete et Bas de page*/
div.entete{
	background: url("original.png");
	width: 95%;
	padding: 6px 18px;
	font-size: 1em;
	border-bottom: 2px solid #fff;
	height: 160px;
	background-size: cover;
	background-position: center;
	font-weight: bold;
	color:#133924;
	text-align:center;
	margin-top: 0px; 
	margin-bottom:0px;
	line-height: 100%;
	font-family: Helvetica, sans-serif;
}

div.enbas{
	background: url("original.png");
	width: 95%;
	margin-top: 2px; 
	margin-bottom:0px;
	padding: 6px 18px;
    	border-top: 2px solid #fff;
	text-align:right;
}

/*Style du texte*/

body{
	font-family: Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}

h1{
	font-size: 2em; 
	font-weight: bold;
	font-style:italic;
	color:#133924;
	text-align:center;
	margin-top: 15px; 
	margin-bottom:15px;
	line-height: 100%;
	font-family: Helvetica, sans-serif;
}

 h3 {
	 font-style:italic;
	 font-weight: bold;
	 font-size: 1.2em;
	 margin-top: 0; 
	 margin-bottom: 10px;
	 font-family: Helvetica, sans-serif;
	 color:#133924;
 }
 
  h4 {
	  font-style:italic;
	  margin-top: 10px; 
	  margin-bottom: 10px;
	  font-size: 1em;
	  font-family: Helvetica, sans-serif;
	  color:#133924;
 }

p{
	font-size: 1em; font-weight: 400;
	font-family: Helvetica, sans-serif;
}

/*Separations*/

hr {
	display:block;
	background-color: #ffffff;
	text-align:center;
}

.br{
	width: 100%;
	height: 2px;
	background: #ffffff;
}

/*Listes*/

.ul{
	list-style-type:circle;
	text-align:justify;
}



/*Image*/
img{
	width: 175px;
	height: 200px;
	border-radius: 50%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

 
/*A gauche*/
div.agauche 
{
	width: 35%;
	float:left;
	padding: 50px;
	text-align: center;
	box-sizing: border-box;
	background-color: #3cb371;
    }

  
/*A droite*/
.adroite
{
    	width: 65%;
	float:right;
	padding: 50px;
	box-sizing: border-box;
    	background-color: #ecf9f2;

}

/*Sous-titres h2*/
h2 {
 	font-size: 1.5em;
	font-weight: bold;
 	width: 90%;
 	margin: 10px auto;
	color :  #20603d;
}


/*Lien*/

a:link {
	color: black;
}

a:visited {
	color: #3cb371;
}

